<div class="card product-card h-100 shadow-sm">
  <img [src]="product.image" class="card-img-top product-image" [alt]="product.name" />
  <div class="card-body d-flex flex-column">
    <span class="badge category-badge mb-2">{{ product.category }}</span>

    <h5 class="card-title product-title">{{ product.name }}</h5>
    <p class="card-text product-description flex-grow-1">
      {{ product.description }}
    </p>
    <div class="mt-auto">
      <div class="price mb-2">€ {{ product.price | number : '1.2-2' }}</div>

      <button class="btn w-100 product-btn" [disabled]="!product.active">
        {{ product.active ? 'Add to Cart' : 'Out of Stock' }}
      </button>
    </div>
  </div>
  <div class="card-footer bg-white border-0 text-end">
    <button class="btn btn-sm btn-outline-danger">Eliminar</button>
  </div>
</div>
